{% load i18n %}

{% if user.is_authenticated %}
	<li class="has-dropdown">
		<a href="#">{{ user }}</a>
		<ul class="dropdown">
			<li><a href="{% url "account_settings" %}"><i class="fi-torso"></i>Account</a></i></li>
			{% if user.is_staff %}
			<li><a href="{% url "admin:index" %}"><i class="fi-settings"></i>Admin</a></li>
			{% endif %}
			<li><a href="{% url "account_logout" %}"><i class="fi-unlock"></i>Log&nbsp;out</a></li>
		</ul>
	</li>
{% else %}
		<li><a href="{% url "account_login" %}"><i class="fi-lock"></i>Log In</a></li>
		{% if ACCOUNT_OPEN_SIGNUP %}
		<li><a href="{% url "account_signup" %}"><i class="fi-edit"></i>Sign Up</a></li>
		{% endif %}
{% endif %}